<section>
  <div>
    <img class="girlPicHeader" src="https://stevenkimxi.github.io/BFA/images/agirl.jpg" alt=""><span id="commissioned">Want to request a Commissioned Work?</span>
  </div>
  <section class="row well" id="inputField">
    <div>
      <form name="commissionForms">
      <label for="pickDate">Date</label>
      <input name="dateRequested" type="date" class="form-control" ng-model="commission.dateRequested" required>
      <div class="commissionFormsFont" ng-show="commissionForms.dateRequested.$touched && commissionForms.dateRequested.$invalid">Date is required</div>
      <label for="pickArtist">Pick the Artist</label>
      <input name="artistName" type="text" class="form-control" placeholder="Enter Artist Name" ng-model="commission.artistName" required>
      <div class="commissionFormsFont" ng-show="commissionForms.artistName.$touched && commissionForms.artistName.$invalid">Artist Name is required</div>
      <label for="firstName">First name</label>
      <input name="firstName" type="text" class="form-control" placeholder="Enter First Name" ng-model="commission.firstName" required>
      <div class="commissionFormsFont" ng-show="commissionForms.firstName.$touched && commissionForms.firstName.$invalid">First Name is required</div>      
      <label for="lastName">Last Name</label>
      <input name="lastName" type="text" class="form-control" placeholder="Enter Last Name" ng-model="commission.lastName" required>
      <div class="commissionFormsFont" ng-show="commissionForms.lastName.$touched && commissionForms.lastName.$invalid">Last Name is required</div>
      <label for="Phone">Phone</label>
      <input name="phone" type="text" class="form-control" placeholder="Enter Your Phone Number" ng-model="commission.phone" required>
      <div class="commissionFormsFont" ng-show="commissionForms.phone.$touched && commissionForms.phone.$invalid">Phone Number is required</div>      
      <label for="Email">Email</label>
      <input name="email" type="email" class="form-control" placeholder="Enter Your Email Address" ng-model="commission.email" required>
      <div class="commissionFormsFont" ng-show="commissionForms.email.$touched && commissionForms.email.$invalid">Email is required</div>      
      <label for="Message">Your Message</label>
      <textarea name="message" class="form-control" rows="10" placeholder="Your Message" ng-model="commission.message" required></textarea>
      <div class="commissionFormsFont" ng-show="commissionForms.message.$touched && commissionForms.message.$invalid">Message is required</div>      
      <button class="btn btn-lg commissionSubmit" ng-click="submitCommission(commission)">Submit</button>
      <div class="isSubmitted" ng-if="isSubmitted">Your message has been submited. Thank you.</div>
      </form>
    </div>
  </section>
</section>